# {{ ansible_managed }}
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
UsePAM yes

PermitRootLogin no
AllowUsers {{ admin_user }}

MaxAuthTries 3
MaxSessions 5
LoginGraceTime 30

X11Forwarding no
AllowAgentForwarding no
AllowTcpForwarding no
PermitTunnel no

ClientAliveInterval 300
ClientAliveCountMax 2
{% if hardening_login_banner | trim | length > 0 %}

Banner /etc/issue.net
{% endif %}
